h4{
    font-family: 'Gruppo', cursive;
    font-size: 20px;
}

h3{
    font-family: 'Gruppo', cursive;
    font-size: 20px;
    color: white;
}

h2{
    font-family: 'Gruppo', cursive;
    font-weight: bolder;
    color: white;
    font-style: italic;
}
body{
    background-image: url(../public/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
}

#mainContent{
    color:white !important;
    font-size: 20px !important;
    text-shadow: 3px 3px 2px #000000 !important;
}

#vast {
    width:1000px;
    height:1000px;
    padding-left: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* NAVBAR */
.navbar{
    background-color: #0400ef76 !important;
}

.navbar-brand{
    color: #1c86d2 !important;
    font-family: 'Gruppo', cursive !important;
}

.btn.btn-secondary.dropdown-toggle {
    background-color: #1c86d2 !important;
    border-color: white !important;
    font-family: 'Gruppo', cursive !important;
}

.dropdown-menu{
    background-color:#0300bf !important;
    border-color: #1c86d2 !important;

}

.dropdown-item{
    color:rgb(157, 226, 255) !important;
    font-family: 'Gruppo', cursive;
}

.dropdown-item:hover{
    background-color: #020076 !important;
}

/*FOOTER*/
.text-center.p-3{
    background-color:#020076;
    color:rgb(157, 226, 255);
}

.text-copyright{
    color:rgb(157, 226, 255) !important;
}

.bg-dark.text-center.text-white{
    background-color: #0400ef76 !important;
}

.icon{
    width:40px;
    height:40px;
}
  
/* CARDS - INDEX PAGE */

.card.w-90{
    background-color: rgba(240, 248, 255, 0);
    border-radius: 0%;
    border-width: 0px;
}
.card-title-home{
    font-family: 'Gruppo', cursive;
    font-size: 35px;
    font-weight: bolder;
    text-shadow: 15px 10px 5px black;
    color: white;
}

.card-text-home{
    font-family: 'Gruppo', cursive;
    color: white;
    font-size: 20px;
}

.btn.btn-primary{
    font-family: 'Gruppo', cursive;
    background-color: #0400ef76;
    color:#14ebff;
}

.image{
    width:500px;
    height:250px;
    border-radius: 20px;
    box-shadow: black;
}

/* CARDS - OUR MISSION PAGE */

.card-header{
    font-family: 'Gruppo', cursive;
    font-size: 30px;
    background-color: #020087  !important;
    color:#68f2ff;
}

.card-body-mission{
    background-color: #00a6ff8b;
}

.blockquote-footer{
    color:#01004b;
}

/* CARDS - ABOUT US */

.card-img-top{
    border-radius: 400px !important;
    border-color: rgba(255, 255, 255, 0) !important;
    border-style:groove;
    border-width: 50px !important;
    margin: 0 auto;
}

.card-title-aboutus{
    font-family: 'Gruppo', cursive;
    font-weight: bolder;
    font-size: 30px;
    margin: 0 auto !important;
    text-align: center;
}

.card-text-aboutus{
    font-family: 'Gruppo', cursive;
    font-weight: bolder;
    font-size: 15px;
    margin: 0 auto !important;
    text-align: center;
}

.card-aboutus{
    background-color: #6cd5ffd0;
    border-color: #14ebff;
    border-radius: 7px;
    box-shadow: 10px 10px 7px 10px rgba(0, 0, 125, 0.66);
}

.box {
    display: flex;
    justify-content: space-between;
}

.box2 {
    display: flex;
    justify-content: space-between;
    padding-left: 175px;
    padding-right: 175px;
}