button {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2em;
}

html,
body {
    background: black;
}

h2{
    font-family: 'Gruppo', cursive;
    font-weight: bolder;
    color: white;
    font-style: italic;
}